
body {
    font: {
        size: 14px;
        family: $roboto-font;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: $roboto-font;
}

/*
 * simple helpers
 */

.text {
    &-white {
        color: #fff;
    }
}

.btn {
    font-weight: 100;
    &-colorcustom {
        color: $color-primary;
        &:hover {
            color: $color-secondary;
        }
    }
    &-gradient {
        background: $gradient-standard;
        color: #fff !important;
        &:focus, &:active {
            color: #fff !important;
        }
    }
}

/*
 * header components
 */
.navbar {
    &-darken {
        background-color: rgba(0,0,0,0.1);
    }
    &-brand, &-nav a {
        font-weight: 300;
    }
    &-absolute-top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        .navbar {
            &-header {
                display: none;
            }
            &-centered {
                float: none;
                margin: 0 auto;
                text-align: center;
                li {
                    float: none;
                    display: inline-block;
                }
            }
        }
    }
}

/*
 * pages components
 */
.page {
    width: 100%;
    float: left;
    font-size: 0;
    p {
        font-size: 14px;
    }
}
